@model IEnumerable<RecipeApp.Models.IngredientListItem>

@{
    ViewBag.Title = "Details";
}

<style>
    .Recipe-details {
        background-color: lightcyan;
        margin-top: 100px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        border-radius: 10px;
        padding-bottom: 10px;
    }
</style>

<div class="col-md-offset-3 col-md-6 Recipe-details">
    <h2>Details</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.IngredientId)
            </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.IngredientName)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedUtc)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                @*@*<td>
                    @Html.DisplayFor(modelItem => item.IngredientId)
                </td>*@
                @*<td>
                    @Html.DisplayFor(modelItem => item.IngredientName)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedUtc)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }

    </table>
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>

