<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Recipe.ly</title>
    <link href="https://fonts.googleapis.com/css?family=Lobster|Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        .content-body {
            /*background-image: url(https://cdn.stocksnap.io/img-thumbs/960w/7QH4K6AESO.jpg);*/
            background-image: url(https://cdn.stocksnap.io/img-thumbs/960w/2HEQC6X2DF.jpg);
            background-size: cover;
            min-height:100vh;
        }
    </style>

</head>
<body>
        @if (User.Identity.IsAuthenticated)
        {

           <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("Recipe.ly", "Index", "RecipeList", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
                            <li>@Html.ActionLink("Home", "Index", "RecipeList")</li>
                            <li>@Html.ActionLink("Recipes", "Index", "Recipe")</li>
                            @*<li>@Html.ActionLink("Favorites", "Index", "Favorite")</li>*@
                            <li>@Html.ActionLink("Ingredients", "Index", "Ingredient")</li>
                            @*<li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                        </ul>
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </div>
        }

        <div class="@(User.Identity.IsAuthenticated ? "container-fluid content-body" : "container-fluid")">
                @RenderBody()
            @if (User.Identity.IsAuthenticated)
            {
                <hr />
                <footer></footer>
            }
            else
            {
                if (Request.RawUrl == "/")
                {
                    <div class="row not-logged-in">
                        <div class="col-sm-offset-4 col-sm-4 login-section">
                            <div class="col-sm-12 text-center appName">Recipe.ly</div>
                            <img src="~/Content/bitmoji.png" clas="bitmoji-img" alt="Alternate Text" />
                            <button class="btn btn-default login-button">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</button>
                        </div>
                    </div>
                }

            }
        </div>



        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    
    </body>
</html>
