@model IEnumerable<RecipeApp.Models.RecipeListListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RecipeListId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecipeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IngredientId)
        </th>
        @
        <th>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RecipeListId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecipeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IngredientId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedUtc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
